.controlsContainer{
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    z-index: 999;
    width: 100vw;
    background-color: rgba(0,0,0,0.1);
  }
  
  .iconContainer{
    padding: 10px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    background-color: var(--primary-color-hover);
    box-shadow: var(--lift-shadow);
    transition: background-color .2s cubic-bezier(.4,0,.2,1);
  }
  
  .iconContainer:hover{
    background-color: rgba(var(--color-background),0.2);
  }
  
  .iconContainer img{
    width: 100%;
    height: auto;
  }